// colors

$light-bg: #f3f4f6;
$dark-bg: #111827;

$error: #ef4444;
$error-hover: #dc2626;

$white: #ffffff;
$dark: #000000;

$success: #10b981;
$success-hover: #059669;

$gray88: #e0e0e0;
$white-smoke: #f4f4f4;

$midnight: #1f2937;
$bright-grey: #4b5563;
$cloud-burst: #374151;

// sizes
$size-xxs: 0.25rem;
$size-xs: 0.5rem;
$size-sm: 0.75rem;
$size-md: 1rem;
$size-lg: 1.25rem;
$size-xl: 1.5rem;
$size-2xl: 1.75rem;
$size-3xl: 2rem;
$size-4xl: 2.5rem;
$size-5xl: 3.25rem;
$size-6xl: 3.5rem;
$size-7xl: 3.75rem;
$size-8xl: 4rem;