@use "./variables" as *;

body {
  line-height: 1.6;
  transition: background-color 0.3s, color 0.3s;

  &.light-theme {
    background-color: $light-bg;
    color: $dark;

    .app-container {
      background-color: $white;
      box-shadow: 0 4px 6px $gray88;
    }

    .modal-content {
      background-color: $light-bg;

      h2 {
        color: $dark;
      }
    }

    .todo-input {
      background-color: $white-smoke;
      border-color: $gray88;
    }

    .todo-list {
      scrollbar-color: $gray88 transparent;
    }

    .todo-item {
      background-color: $white;
      border-color: $gray88;

      .checkbox {
        border-color: $gray88;
      }

      &.completed {
        .checkbox {
          background-color: $success;
          border-color: $success;
        }
      }
    }

    .language-switcher-container {
      background-color: $gray88;
      color: $white;
    }

    .theme-switch {
      background-color: $gray88;

      .theme-slider::before {
        background-color: $white;
      }

      .icon {
        color: $dark-yellow;

        &.moon {
          color: $dark-gray;
        }
      }
    }
  }

  &.dark-theme {
    background-color: $dark-bg;
    color: $white;

    .app-container {
      background-color: $midnight;
      box-shadow: 0 4px 6px $dark;
    }

    .modal-content {
      background-color: $dark-bg;

      h2 {
        color: $white;
      }
    }

    .todo-input {
      background-color: $cloud-burst;
      border-color: $cloud-burst;
      color: $white-smoke;
    }

    .todo-list {
      scrollbar-color: $cloud-burst transparent;
    }

    .todo-item {
      background-color: $midnight;
      border-color: $cloud-burst;

      .checkbox {
        border-color: $bright-grey;
      }

      &.completed {
        .checkbox {
          background-color: $success;
          border-color: $success;
        }
      }
    }

    .language-switcher-container {
      background-color: $bright-grey;
      color: $white;
    }

    .theme-switch {
      background-color: $bright-grey;

      .theme-slider::before {
        background-color: $midnight;
      }

      .icon {
        color: $dark-gray;

        &.moon {
          color: $dark-yellow;
        }
      }
    }
  }
}
